<!DOCTYPE html>
<html>
  <head
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Markov Chain Algorithm">
    <meta name="author" content="Jayce Azua">
    <meta name="keywords" content="HTML, CSS, JavaScript, Markov Chain, Python, Flask">
    <title>Futurama Mark Chain: Tweet Generator</title>
  </head>
  <body>
  <!-- NAV BAR -->
  <!-- MAIN BODY CONTENT -->
  <h1>Philip J. Fry</h1>
  <!-- FOOTER -->
  <footer>
    <p class="copyright-text">Built by
      <a href="https://github.com/jayceazua/tweet_generator">Jayce Azua</a>
    </p>
  </footer>
  </body>
</html>
