<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>tweet-gen</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Prevent Favicon.ico request -->
  <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
  <!-- typed.js library -->
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
  <!-- Sassy CSS -->
  {% assets "scss_all" %}
  <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
  {% endassets %}
</head>

<body>

  <div class="Sentence">
    <h2 id="sentence-to-show" hidden=true>{{test}}</h2>
    <h2 id="typed"></h2>
  </div>

  <div class="Sharing">
    <h3>Share</h3>

    <form action="/share/twitter" method="POST" id="tShareSent">
      <input type="text" name="sentence" value="{{test}}" hidden=true>
      <input type="text" name="source" value="{{sentence_source}}" hidden=true id="source-for-selector">
    </form>

    <button class="twitter" type="submit" value="Submit" form="tShareSent"> Share to Twitter</button>

    <button class="imgur" type="submit" value="Submit" form="tShareSent" formaction="/share/imgur">
      <img src="https://s.imgur.com/desktop-assets/desktop-assets/icon-new-post.13ab64f9f36ad8f25ae3544b350e2ae1.svg"
        alt="Share to"> Imgur</button>
  </div>

  <div class="New-Sentence">
    <button class="new-button" onclick="new_sentence();"> New Sentence </button>
    <select class="new-select" id="source-selector" onchange="location.href=`/sentence/${this.value}`">
      <option selected="selected" value="frankenstein">Frankenstein</option>
      <option value="modestproposal">A Modest Proposal</option>
      <option value="prideprejudice">Pride and Prejudice</option>
      <option value="secretgarden">The Secret Garden</option>
      <option value="huckleberryfinn">Huckleberry Finn</option>
    </select>
  </div>

  <div class="Show-Saved">
    <h3>View Shared</h3>
    <button class="twitter" onclick="location.href='https://twitter.com/JustABo49350876'"></button>
    <button class="imgur" onclick="location.href='https://imgur.com/user/justabotthatwantstomakememes/posts'"></button>
  </div>

  <!-- custom JS -->
  <script src="../static/indexScripts.js"></script>
</body>

</html>